## Q1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2

In [2]:
data_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(data_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

## Q3

In [3]:

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Converting the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4
A DataFrame in pandas is a two-dimensional, labeled data structure with columns of potentially different types, similar to a table or spreadsheet. It allows for complex data manipulation and analysis, supporting operations on both rows and columns. In contrast, a Series is a one-dimensional labeled array capable of holding any data type, akin to a single column of data. 

The key difference between them lies in their dimensionality and versatility: while a DataFrame can contain multiple columns with different data types, a Series is limited to one data type. For example, a DataFrame could store a dataset with names, ages, and genders, each in its own column, whereas a Series might only store a list of ages. This makes DataFrames more suitable for handling structured data with multiple attributes.

In [4]:
import pandas as pd

# Creating a Series
series = pd.Series([1, 2, 3, 4, 5])
print("Series:")
print(series)

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30],
    'Gender': ['Female', 'Male']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

## Q5
Certainly! Here are some common functions you can use to manipulate data in a Pandas DataFrame:

head() and tail(): View the first or last n rows of the DataFrame.
info(): Get a summary of the DataFrame, including data types and non-null values.
describe(): Generate descriptive statistics.
sort_values(): Sort the DataFrame by the values of one or more columns.
groupby(): Group data by one or more columns and perform aggregate operations.
apply(): Apply a function along an axis of the DataFrame.
drop(): Remove specified labels from rows or columns.
fillna(): Fill NA/NaN values using a specified method.
merge(): Merge DataFrames using database-style join operations.

In [5]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Furniture', 'Furniture', 'Furniture'],
    'Sales': [100, 200, 150, 300, 250, 350]
}
df = pd.DataFrame(data)

# Using groupby() to calculate total sales for each category
category_sales = df.groupby('Category')['Sales'].sum()

# Printing the result
print(category_sales)

Category
Electronics    450
Furniture      900
Name: Sales, dtype: int64

## Q6
In pandas, both Series and DataFrame are mutable, meaning you can modify their data after they have been created. However, Panel is deprecated in the latest versions of pandas, so it is no longer commonly used or supported.

## Q7

In [1]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female